
/*左侧栏样式*/

/*文章列表*/
.article-list{
    background: none repeat scroll 0 0 #fff;
    /*box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);*/
    padding-bottom: 10px;
}
/*文章内容*/
.article-info{
    /*border-bottom: 1px solid #f3f3f3;*/
    box-shadow: 0 0 10px rgba(0, 90, 0, 0.3);
    padding: 5px 15px 15px;
    margin: 0 0 15px;
}
.article-attributes{
    margin-bottom: 10px;
}

footer p {
    color: #5a5a5a;
    margin-top: 15px;
}

/*代码高亮冲突*/
.article-content .container:before, .article-content .container:after {
    display: block;
}

/*文章图片宽度限制*/
.article-content img{
    max-width: 100%;
}

/*语法高亮边框*/
.syntaxhighlighter{
    border: 1px solid #DEDEDE;
}

/*文章内容强制换行*/
.article-content > p {
    word-break: break-all;
}

/********** 标签样式    **********/
.article-tags{
    padding: 10px 5px 5px;
}
.article-tags a {
    background-color: #4a4a4a;
    color: #eee;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
    opacity: 0.9;
    padding: 2px 5px 1px;
    text-decoration: none;
}
.article-tags a:hover {
    background-color: #428bca;
    color: #fff;
    opacity: 1;
}
.article-tags a:nth-child(5n) {
    background-color: #4a4a4a;
}
.article-tags a:nth-child(5n+1) {
    background-color: #428bca;
}
.article-tags a:nth-child(5n+2) {
    background-color: #5cb85c;
}
.article-tags a:nth-child(5n+3) {
    background-color: #d9534f;
}
.article-tags a:nth-child(5n+4) {
    background-color: #f0ad4e;
}
.article-tags .badge{
    font-size: 10px;
    padding: 1px 3px;
    background-color: #fff;
    color: hotpink;
    text-shadow: grey 0 1px 1px;
}